body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: grey;
    border: 4px solid black;
    border-radius: 15%;
    padding: 20px;
}

#display {
    background-color: white;
}

button {
    background-color: orange;
}