body {
    margin: 0;
}

.spaced {
    margin: 10px;
}

.xspaced {
    padding: 10px;
    margin: 10px;
}

.btn {
    border-color: teal;
    border-radius: 50px;
    color: black;
    width: 20%;
    font-size: 100%;
}

.row {
    display: flex;
    flex-direction: column;
}

.row-under {
    display: flex;
    flex-direction: row;
}

.col {
    flex: 1;
    margin: 10px;
}

.col-2 {
    flex: 2;
    margin: 10px;
}

.col-3 {
    flex: 3;
    margin: 10px;
}

.nav {
    display: flex;
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    justify-content: space-between;
    border-radius: 0 0 10px 10px;
}

.nav-title {
    color: black;
    margin-left: 2.5%;
}

.nav-links {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    align-self:center;
    width: 80%;
    color: black;
}

.section-title {
    background: #2193b0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #2193b0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    border-radius: 25px 25px 0 0;
    border-bottom: 3px solid darkslategray;
}

.section {
    background-color: grey;
    border-radius: 30px;
    border: 6px solid darkslategray;
}

.centered {
    justify-items: center;
    align-items: center;
}

.centered-text {
    text-align: center;
}

.fill-w {
    width: 100%;
}

.fill-h {
    height: 100%;
}

.circle {
    border-radius: 50%;
}